.list-layout{
    display: flex;
   
}

.list-right{
  display: flex;
  width: 100%;
  padding: 8px;
  flex-wrap: wrap;
 
}

.warning-text{
  display: flex;
  width: 60%;
  color: orange;
  display: inline-block;
  align-items: center;
}